@import "base";

.clearfix {
  clear: both;
}

.page-heading {
  text-align: center;
  margin: 15px 15px 25px 15px;
  padding: 15px;
  border-bottom: $brand-border;
}

.rounded {
  border-radius: 8px;
}

.btn {
  background: $brand-prim;
  color: #fff;

  &:hover {
    color: $brand-prim-light;
  }
}