// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  color: #555;
}

header {
  background: #38b;
  color: #fff;
}

nav .nav {
  overflow: auto;
  li {
    display: inline-block;
    a {
      color: #fff;
    }
  }
}

.container {
  padding-top: 20px;
}

.sort-select {
  padding: 10px;
  a {
    padding-right: 10px;
  }
}

.posts {
  h2.post-title {

  }
  h3.post-date {
    margin: 0 0 10px 0;
    font-size: 20px;
  }
}

.froala-view {
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
}

.home-post {
  background: #fff;
  margin-bottom: 30px;
  border: 3px solid #d6e6f6;
  padding: 20px;
  border-radius: 10px;
  &:hover {
    background: #e6f6ff;
  }
}

blockquote {
  border-left: 5px solid #d6e6f6;
}



